<web-app>  
  
<servlet>
    <servlet-name>Api</servlet-name>
    <servlet-class>Api</servlet-class>
</servlet>

  <servlet-mapping>
        <servlet-name>Api</servlet-name>
        <url-pattern>/api</url-pattern>
   </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>  
</web-app>  
